<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bricefamily.alex.time_tracker">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="ANDROID.PERMISSION.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <permission
        android:name="com.bricefamily.alex.time_tracker.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.bricefamily.alex.time_tracker.permission.C2D_MESSAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/custom">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name=".CentralPageActivity"
            android:label="@string/title_activity_central_page" />
        <activity
            android:name=".CreateUserActivity"
            android:label="@string/title_activity_create_user" />
        <activity
            android:name=".CompleteProfileActivity"
            android:label="@string/title_activity_complete_profile"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CreateNewEventActivity"
            android:label="@string/title_activity_create_new_event" />
        <activity
            android:name=".ProfileOverviewActivity"
            android:label="@string/title_activity_profile_overview"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".DetailsEventsActivity"
            android:label="@string/title_activity_details_events"
            android:theme="@style/AppTheme.NoActionBar" />

        <receiver
            android:name=".GCMBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="com.bricefamily.alex.time_tracker" />
            </intent-filter>
        </receiver>

        <service android:name=".GCMessageHandler" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".GCMessagingActivity"
            android:label="@string/title_activity_gcmessaging" />
        <activity
            android:name=".AboutApplicationActivity"
            android:label="@string/title_activity_user_list" />
        <activity
            android:name=".LiveChatActivity"
            android:label="@string/title_activity_user_list"
            android:parentActivityName=".NewUserTabsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".NewUserTabsActivity" />
        </activity>
        <activity
            android:name=".ViewFriendActivity"
            android:label="@string/title_activity_user_list" />

        <receiver
            android:name=".LiveChatBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="com.bricefamily.alex.time_tracker" />
            </intent-filter>
        </receiver>

        <service android:name=".LiveChatIntentService" />

        <activity
            android:name=".HomeScreenActivity"
            android:label="@string/title_activity_home_screen"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".AllUsersListsTabActivity" />
        <activity
            android:name=".NewUserTabsActivity"
            android:label="@string/title_activity_new_user_tabs"
            android:parentActivityName=".HomeScreenActivity"
            android:uiOptions="splitActionBarWhenNarrow">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HomeScreenActivity" />
            <meta-data
                android:name="android.support.UI_OPTIONS"
                android:value="splitActionBarWhenNarrow" />
        </activity>
        <activity
            android:name=".RequestHandlerActivity"
            android:excludeFromRecents="true"
            android:launchMode="singleTask"
            android:taskAffinity="" />
        <activity android:name=".LoginPanelActivity" />
        <activity android:name=".RemovedAsFriendActivity" />
        <activity android:name=".MessageForShowActivity" />
        <activity android:name=".MAPActivity" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_api_key" />

        <activity android:name=".SearchResultActivity" />
        <activity android:name=".PreferenceAppActivity"/>
        <activity
            android:name=".TimeSheetActivity"
            android:label="@string/title_activity_time_sheet"
            android:theme="@style/custom.NoActionBar"/>
        <activity android:name=".NewCalendarActivty"
            android:theme="@style/MYAppTheme"/>

        <activity android:name=".BaseActivity"
            android:parentActivityName=".NewCalendarActivty">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".NewCalendarActivty" />

        </activity>

        <activity android:name=".OpenUserProfileActivity" />
        <activity android:name=".AddNewEventActivity"
            android:parentActivityName=".CentralPageActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".CentralPageActivity" />

        </activity>
        <activity android:name=".AddNewEventFragment" />

    </application>

</manifest>
