<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bricefamily.alex.time_tracker">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="ANDROID.PERMISSION.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <permission
        android:name="com.bricefamily.alex.time_tracker.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.bricefamily.alex.time_tracker.permission.C2D_MESSAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.Light">
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CentralPageActivity"
            android:label="@string/title_activity_central_page" />
        <activity
            android:name=".CreateUserActivity"
            android:label="@string/title_activity_create_user" />
        <activity
            android:name=".PreferenceActivity"
            android:label="@string/title_activity_preference" />
        <activity
            android:name=".CompleteProfileActivity"
            android:label="@string/title_activity_complete_profile"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CreateNewEventActivity"
            android:label="@string/title_activity_create_new_event" />
        <activity
            android:name=".ProfileOverviewActivity"
            android:label="@string/title_activity_profile_overview"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".DetailsEventsActivity"
            android:label="@string/title_activity_details_events"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".UserListActivity"
            android:label="@string/title_activity_user_list" />

        <receiver
            android:name=".GCMBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="com.bricefamily.alex.time_tracker" />
            </intent-filter>
        </receiver>

        <service android:name=".GCMessageHandler" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".GCMessagingActivity"
            android:label="@string/title_activity_gcmessaging" />
        <activity
            android:name=".AboutApplicationActivity"
            android:label="@string/title_activity_user_list" />
        <activity
            android:name=".LiveChatActivity"
            android:label="@string/title_activity_user_list"
            android:parentActivityName=".UserListTabsActivity"/>
        <activity
            android:name=".ViewFriendActivity"
            android:label="@string/title_activity_user_list" />

        <receiver
            android:name=".LiveChatBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="com.bricefamily.alex.time_tracker" />
            </intent-filter>
        </receiver>

        <service android:name=".LiveChatIntentService" />

        <activity
            android:name=".HomeScreenActivity"
            android:label="@string/title_activity_home_screen"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".UserListTabsActivity"
            android:label="@string/title_activity_user_list_tabs"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".UserFriendListTabActivity"
            />
        <activity android:name=".AllUsersListsTabActivity"></activity>
    </application>

</manifest>
